@import "../../styles/tools";

@keyframes fade-in-fragment {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

@function normalise_to_unit($base, $vpx, $unit) {
  @return #{((100 / $base) * $vpx) + $unit}
}

@function letter-x-position($vpx) {
  // this is the width of the screen this website was developed on
  // converting values to vw to make things responsive
  $base: 1632px;

  @return normalise_to_unit($base, $vpx, "vw");
}

@function letter-y-position($vpx) {
  // this is the height of the screen this website was developed on
  // converting values to vh to make things responsive
  $base: 948px;

  @return normalise_to_unit($base, $vpx, "vh");
}

.WordFragment {

  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  font-family: 'Major Mono Display', monospace;

  &__letter {
    position: absolute;
    font-size: 150px;
    text-shadow: 0 1px 20px #ffffff;
    top: 0;
    transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    animation: fade-in-fragment 1s ease-out forwards;


    &:nth-child(1) {
      transform: translate3d(letter-x-position(1088px), letter-y-position(404px), 0) scale(1);
    }

    &:nth-child(2) {
      transform: translate3d(letter-x-position(753px), letter-y-position(700px), 0) scale(1);
    }

    &:nth-child(3) {
      transform: translate3d(letter-x-position(75px), letter-y-position(150px), 0) scale(0.4);
    }

    &:nth-child(4) {
      transform: translate3d(letter-x-position(783px), letter-y-position(160px), 0) scale(1);
    }

    &:nth-child(5) {
      transform: translate3d(letter-x-position(1364px), letter-y-position(164px), 0) scale(0.4);
    }
  }
}
