.holding-page {

  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .Logo {
    margin: 32px;
  }

  .WordFragment {
    position: fixed;
    top: 0;
    left: 0;
  }
}
