.Button {
  display: block;
  height: 45px;
  min-width: 100px;
  appearance: none;
  opacity: 1;
  transition: opacity 250ms ease-out;
  background: #fff;
  border: none;

  &[disabled] {
    opacity: 0.6;
  }
}
