.Content {

  position: relative;
  box-sizing: border-box;
  padding-top: 160px;

  &__head {
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
  }

  &__main {
    padding: 32px;
    box-sizing: border-box;
    width: calc(100% - #{$image-width} + #{$image-small-x});

    @include breakpoint(laptop) {
      width: calc(100% - #{$image-width} + #{$image-x});
    }
  }

  &__image-aside {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    transform: translate3d($image-small-x, 0, 0);
    z-index: 2;

    .Img {
      width: $image-width;
      height: 100%;
    }
  }

  .Dots {
    margin-top: 32px;
  }

  .Back {
    margin-top: 48px;
  }
}

.Content__main {
  opacity: 0;
}
