.Content {
  color: #ffffff;

  &__head {
    background: #000;
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
  }

  &__main {
    transition: opacity 1000ms ease-out;
    > * {
      transition: opacity 500ms ease-out;
    }
  }

  &__image-aside {
    transform: translate3d($image-small-x, 0, 0);
  }

  .LinkHomeLogo .Logo {
    transform-origin: top left;
  }

}

.page-transition-enter .Content {
  .Content__main {
    opacity: 0;
    transition: 0ms;
  }
}

.page-transition-enter-done .Content__main {
  opacity: 1;
}

.page-transition-exit .Content {
  opacity: 0;
}

@include breakpoint(laptop) {

  .page-transition-enter .Content__image-aside {
    transition: 0ms;
    transform: translate3d(100%, 0, 0);
  }

  .page-transition-enter-done .Content__image-aside {
    transition: transform 500ms ease-out;
    transform: translate3d($image-x, 0, 0);
  }
}
