@import "../../styles/tools";

.CardMenu {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 128px 64px;
  .CardMenuItem {

    margin: 0 auto;

    @include breakpoint(tablet) {
      &:nth-child(2) {
        left: -200px;
      }

      &:nth-child(3) {
        left: 200px;
      }
    }
  }
}
